body {
    padding-top: 50px; /* Padding for .navbar-fixed-top. Change value if navbar height changes. Remove if using .navbar-static-top. */
}

.navbar .navbar-header {
    min-height: 50px;
}

.navbar-brand {
    margin-top: -15px;
    margin-left: -15px;
}

.portfolio-item {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
	text-align: center;
    background-color: lightskyblue;
}

.footer-blurb h3 {
    color: midnightblue;
    }
    
.footer-blurb-item {
    padding: 30px 0;
    }
 
.copyright {
	background-color: #fff;
	text-align: center;
	padding: 30px 0;
}